body {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtamanio {
    height: 100%;
    width: 100%;
}

.imgfondo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 5px solid black;
}